.container-lapque {
  max-width: 1200px;
  margin: 0 auto;
  padding: 24px;
  margin-top: 250px;
  margin-bottom: 100px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
  border-radius: 40px;
}

header {
  text-align: center;
  margin-bottom: 24px;
}
section {
  margin-bottom: 28px;
}

h1 {
  margin: 0;
  color: var(--accent);
}

.subtitle {
  margin-top: 6px;
  color: #555;
}

h2 {
  background: var(--head);
  padding: 10px 12px;
  border-left: 6px solid var(--accent);
  color: #4a2a0a;
  margin: 0 0 12px 0;
}
